.board {
    outline: 4px solid var(--text-color);
    box-shadow: inset 0 0 60px rgba(48, 80, 0, 0.3);
    max-width: 860px;
    width: min(90vh, 90vw);
    display: flex;
    border-radius: 4px;
    position: relative;
}

.score {
    position: absolute;
    bottom: 100%;
    margin-bottom: 20px;
    left: 0;
    right: 0;
}

/* <= 680 */
@media (max-width: 680px) {
    .board {
        width: min(95vh, 95vw);
    }

    .score {
        margin-bottom: 10px;
    }
}
